 * {
   box-sizing: border-box;
 }

 body {
   height: 100vh;
 }

 ul {
   width: 80%;
   height: 10rem;
   margin: 5rem auto;
   padding: 0;
   list-style-type: none;
 }

 li {
   text-align: center;
   font-size: 24px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   height: 10rem;
   line-height: 10rem;
   border: 1px solid darkgray;
 }

 /* `min-width` is used to apply styles for screens sizes that are greater than the supplied value.  */
 /* slight confusion about how "screen" is a selector as in hwere is this class on html? */
 @media only screen and (min-width: 700px) {
   body {
     background-color: lightblue;

   }
 }

 li {
   width: 19%;
   display: inline-block;
 }


 /* coloring */
 :root {
  /*  so the -- is setting a name which is the set up for the nth-child  */
  --odd-color: #d46843;
  --odd-bg-color: #2A150D;

  --even-color: white;
  --even-bg-color: black;
}

/* so this pseudo selector is how you apply the colors to the odd and evens */
li:nth-child(even) {
  color: var(--even-color);
  /* var () represents the "VARIABLE"you want to pull */
  color: var(--even-bg-color);
}

li:nth-child(odd) {
  color: var(--odd-color);
  background-color: var(--odd-bg-color);
}